.card-container {
  background-color: #282c34;
}

.kitty-card {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: azure;
}

.App-link {
  color: #61dafb;
}
